*{
		font-family: arial, 'times new roman', verdana;
		text-align: center;
}

html{
		background-image: url(https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
		background-size: cover;
		min-height: 100%;
		min-width: auto;
		height: auto;
		width: 100%;
}

#link{
		font-size: 13pt;
}

a:hover{
		color: blue;
}

#return{
		float: left;
		width: 100%;
}

/* Style  dla zad. A */
#row1{
		width: 31.3%;
		float: left;
		margin: 1% 1% 1% 1%;
}

#row2{
		width: 98%;
		float: left;
		margin: 1% 1% 1% 1%;
}

/* wiersz trzeci bedzie podzielony na 2 pola 16%-owe (#row3-p1) oraz jedno pole 66%-owe (#row3-p2) */
#row3-p1{
		width: 15%;
		float: left;
		margin: 1% 1% 1% 1%;
}

#row3-p2{
		width: 64%;
		float: left;
		margin: 1% 1% 1% 1%;
}

/* row4-whole musi "spiąć" pozostałe dwa pola row4 */
#row4-whole{
		width: 100%;
		float: left;
}

#row4{
		width: 48%;
		float: left;
		margin: 1% 1% 1% 1%;
}

/* Style dla zad. B */

#gallery{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
}

.photo{
		margin: 10px 0;
		width: 30%;
		background: white;
		padding: 10px;
		opacity: 0.8;
		border-radius: 10px;
		border: 1px solid silver;
		box-sizing: border-box;
  
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
  
		transition: .5s all ease-in-out;
}

.photo img{
		flex-basis: 100%;
		width: 100px;
}

.photo figcaption{
		margin-top: 10px;
}

.photo:hover{
		opacity: 1;
		transform: scale(1.05);
}

/* Style dla zad. C */

#register-head{
		margin: 0 30%;
        margin-top: 60px;
        font-size: 27pt;
}

.regform{
        width: 300px;
        padding: 30px;
        margin: auto;
        margin-top: 100px;
        font-size: 11pt;
  
        --webkit-box-shadow: 10px 30px 146px 107px rgba(16,14,102,0.52);
        -moz-box-shadow: 10px 30px 146px 107px rgba(16,14,102,0.52);
        box-shadow: 10px 30px 146px 107px rgba(16,14,102,0.52);
  
        border-radius: 10px;
        
}

input,select,textarea{
        width: 120px;
        color: #340b4a;
        font-weight: bold;
        font-size: 12pt;
        padding: 3px;
        box-sizing: border-box;
        margin: 5px;
}

select{
        width: 160px;
}

textarea{
        width: 280px;
        text-align: left;
}

input[type=date]{
        width: 150px;
}

input[type=checkbox]{
        height: 20px;
}

input[type=radio]{
        width: 18px;
        margin: 20px;
}

input[type=text]:focus,
input[type=date]:focus,
input[type=password]:focus,
input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus,
select:focus,
textarea:focus
{
        -webkit-box-shadow: 0px 0px 12px 0px rgba(47,44,232,1);
        -moz-box-shadow: 0px 0px 12px 0px rgba(47,44,232,1);
        box-shadow: 0px 0px 12px 0px rgba(47,44,232,1);
}

#alert{
  display: none;
  background-color: #f56857;
  padding: 10px;
  margin: 15px;
  font-weight: bold;
  font-size: 14pt;
}

#sendButton{
  display: none;
}
